@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
.myClear
{
	clear:both;
}
html
{
	overflow-y: scroll;  /*Force vertical scroll bar to avoid screen shift */
	/* background-image: url(../imgs/background_003.jpg); */
	/* background-repeat: no-repeat; */
	background: linear-gradient(-90deg, Linen, Maroon);
}
#myHeader
{
	font-family: 'Rock Salt', cursive;
	font-size: 50px;
	border-bottom: 5px solid black;
	background-color: white;
}
#myLogo
{
	margin: 0px;
}
body
{
	margin: 0;
}
.container
{
	/* margin: auto;*/
	/*border: 5px solid black;*/
	/* width: 1000px; */
	/* width: 1200px; */
	/* background-color: DarkGrey; */
	/*border-radius: 15px; */
}
#sect1
{
	margin: 20px;
	/* border-radius: 15px;*/
	
	/* background: linear-gradient(-90deg, Azure, Brown); */
	width: 900px;
	float: left;
}
#sect1 h1
{
	text-align: center;
	font-size: 50px;
	color: AntiqueWhite;
}
.sect1p
{
	margin: auto;
	width: 850px;
	color: AntiqueWhite;
	font-size: 25px;
	border-radius: 5px;
}

.buttonFamilyPic
{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 125px;
	font-size: 20px;
	background-color: #4A6B8E;
	border: 1px solid #FFF;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, .4), 0 1px 3px #333333;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #FFF;
	text-align: center;		
}

.buttonGuitarSolo
{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 125px;
	font-size: 20px;
	background-color: #4A6B8E;
	border: 1px solid #FFF;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, .4), 0 1px 3px #333333;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: #FFF;
	text-align: center;		
}


#familyPics
{
	float:right;
}

#weddingPic
{
	margin-top: 25px;
	margin-right: 50px;
}
#angelPic
{
	margin-top: 150px;
}

#guitarSolo
{
	float: right;
	margin-right: 50px;
}

#sect2
{
	float: left;
	width: 900px;
	margin: 20px;
}
#sect2 h1
{
	font-size: 50px;
	color: AntiqueWhite;
	text-align: center;
}
.sect2p
{
	margin: auto;
	width: 850px;
	color: AntiqueWhite;
	font-size: 25px;
	border-radius: 5px;
}

#sect3
{
	float: left;
	margin: 20px;
	width: 900px;
}

#sect3 h1
{
	font-size: 50px;
	color: AntiqueWhite;
	text-align: center;
}
.sect3p
{
	margin: auto;
	width: 850px;
	color: AntiqueWhite;
	font-size: 25px;
	border-radius: 5px;
}
#assignments
{
	margin: 20px;
	width: 900px;
}
.assignText
{
	margin: auto;
	width: 850px;
	color: AntiqueWhite;
	font-size: 45px;
	border-radius: 5px;		
}

a
{
	text-decoration: none;
}
a:hover
{
	background-color: transparent;
	text-decoration: underline;
}
a:visited
{
	color: black;
};